# -*- coding: utf-8 -*-
#
# Copyright (C) 2020 CERN.
# Copyright (C) 2020 Northwestern University.
#
# Invenio-Records-Resources is free software; you can redistribute it and/or modify
# it under the terms of the MIT License; see LICENSE file for more details.

include .dockerignore
include .editorconfig
include .tx/config
include *.rst
include *.sh
include *.txt
include babel.ini
include LICENSE
include pytest.ini
prune docs/_build
recursive-include .github/workflows *.yml
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile
recursive-include invenio_records_resources *.html
recursive-include invenio_records_resources *.py
recursive-include invenio_records_resources/translations *.po *.pot *.mo
recursive-include tests *.py
recursive-include tests/mock_module *.json
recursive-include tests/mock_module_factory *.json
